/* Footer */
div.row {
  font-family:Open Sans;
}

* {
  margin:0;
}

footer {
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:25px 75px;
  bottom:0;
  position:fixed;
  font-size:11px;
  font-family:'Open Sans', sans-serif;
}

footer {
  position:relative;
  padding:40px 40px;
}

footer > p {
  color:#ffffff;
}

* {
  margin:0;
}

* {
  margin:0;
}

footer, .wrapper:after {
  height:32px;
}

footer {
  background-color:#000000;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:10px;
  bottom:0;
  color:#ffffff;
}

footer {
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding:25px 75px;
  bottom:0;
  position:fixed;
  font-size:11px;
  font-family:'Open Sans', sans-serif;
}

footer {
  position:relative;
  padding:15px 0px 70px 0px;
}

/* Main */
.hero {
  background:url("../../assets/img/hero.jpg") no-repeat center top;
  min-height:550px;
}

.header-nav {
  border-radius:10px;
  background-color:rgba(248,195,1,0.7);
  max-width:60%;
  margin:auto;
}

.nav-section {
  padding-top:100px;
}

li.menu {
  padding:3px 15px 3px 15px;
  width:24%;
}

li.active.menu {
  color:#fff;
}

figure.logo {
  width:200px;
  margin-top:40px;
}

a:focus, a:hover {
  color:#ffffff;
  text-decoration:none;
}

a {
  color:#020304;
  text-decoration:none;
}

a.active {
  color:#fff;
}

.nav {
  padding-left:43%;
}

.nav > li {
  position:relative;
  display:block;
  border-radius:3px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color:#170311;
  cursor:default;
  background-color:#c59a01;
  border:1px solid #ffffff;
  border-bottom-color:transparent;
}

body {
  font-family:'Century Gothic';
}

.h5 {
  font-weight:600;
}

.nav li > a {
  background-color:#e7c21e;
}

.nav li > a:hover {
  background-color:#806401;
  border:1px solid #e7c21e;
}

.nav-tabs span {
  padding:0px 15px 0px 15px;
}

input[type=checkbox] {
  /*-ms-transform:scale(1.2);*/
  /*-moz-transform:scale(1.2);*/
  /*-webkit-transform:scale(1.2);*/
  /*-o-transform:scale(1.2);*/
}

input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
  outline:double;
  outline-color:#fff;
  outline-offset:0px;
}

.checkbox label, .radio label {
  min-height:20px;
  padding-right:30px;
}

.trip input[type=radio] {
  content:url('../../assets/img/checkbox.png');
}

.trip input[type=radio]:checked {
  content:url('../../assets/img/checkbox_check.png');
  outline:double;
}

.trip input[type=text] {
  color:#000000;
  height:30px;
  padding-left:20px;
  text-decoration:none;
  background-color:#c59a01;
  background-repeat:repeat-x;
  width:250px;
  background:url('../../assets/img/input_location.png') no-repeat center left;
}

.trip input[type=text].date {
  color:#000000;
  height:30px;
  padding-left:20px;
  text-decoration:none;
  background-color:#c59a01;
  background-repeat:repeat-x;
  width:150px;
  background:url('../../assets/img/input_icon_calendar.png') no-repeat center left;
}

.trip input[type=text]:hover, .trip input[type=text]:focus, .trip input[type=text]:active {
  color:#000000;
  outline-color:#fff;
  box-shadow:none;
  border-color:#fff;
}

.trip input[type=text]::-moz-placeholder {
  color:#000;
}

.trip input[type=text]::-webkit-input-placeholder {
  color:#000;
}

.trip input[type=text]:-ms-input-placeholder {
  color:#000;
}

.trip input[type=text].ticket.date {
  width:114px;
  background-image:none;
  padding-left:5px;
  margin-right:5px;
}

.trip input[type=text].ticket {
  width:114px;
  background-image:none;
  padding-left:5px;
  margin-right:5px;
}

button.btn.btn-custom {
  color:white;
  background-color:#000;
  width:70px;
  font-stretch:expanded;
  transition:0.5s;
}

button.btn.btn-custom:hover, button.btn.btn-custom:focus, button.btn.btn-custom:active {
  color:white;
  background-color:#1b1b1b;
  width:70px;
  font-stretch:expanded;
}

.buy-box {
  width:57px;
  border:thin solid #fff;
  cursor:pointer;
  border-radius:3px;
}

.buy-box:hover {
  width:57px;
  border:thin solid #fff;
  cursor:pointer;
  background-color:#846700;
}

.thumbnail {
  display:block;
  margin-bottom:20px;
  line-height:1.42857143;
  background-color:#c59a01;
  -webkit-transition:border .2s ease-in-out;
  -o-transition:border .2s ease-in-out;
  transition:border .2s ease-in-out;
  padding:0px;
}

.fa.fa-plus.buy {
  margin-right:5px;
}

.contact {
  background:url("../../assets/img/contact_bck.png") no-repeat center center;
  min-height:400px;
}

/* Brands */
.brands {
  color:#313437;
  background-color:#fff;
}

.brands a {
  display:block;
  text-align:center;
  padding:40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding:30px 0;
  }
}

.brands a img {
  display:inline-block;
  margin:10px 20px;
  vertical-align:middle;
}

/* Social Icons */
.social-icons {
  color:#ffffff;
  text-align:center;
  padding:30px 0;
}

@media (max-width:767px) {
  .social-icons {
    padding:10px 0;
  }
}

.social-icons i {
  font-size:30px;
  display:inline-block;
  color:#ffffff;
  margin:0 10px;
  width:40px;
  height:40px;
  border:1px solid #ffffff;
  text-align:center;
  border-radius:50%;
  line-height:40px;
}


/* Slider */
.simple-slider .swiper-slide {
  height:500px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width:50px;
  margin-left:20px;
  margin-right:20px;
}

@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display:none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height:360px;
  }
}













